@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  color: #343434;
  scroll-behavior: smooth;
  overflow-x: hidden; }

p, h1, h2, h3, h4, h5 {
  margin: 0;
  z-index: 999999; }

h2 {
  text-transform: uppercase;
  font-size: 1.875rem; }

h3 {
  font-size: 1.25rem; }

a {
  text-decoration: none; }

.btn {
  background-color: #A30000;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  font: inherit;
  color: #fff;
  border: none;
  z-index: 9999998; }
  .btn:hover {
    background: #952626;
    transition: all 0.2s ease; }

.c-backdrop {
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  display: none; }
  @media only screen and (max-width: 659px) {
    .c-backdrop {
      display: none; } }

.container {
  max-width: 87.5rem;
  width: 100%;
  margin: auto;
  padding: 0 1.25rem; }

.divider {
  max-width: 6.25rem;
  width: 100%;
  height: 0.3125rem;
  background-color: #A30000;
  margin-top: 0.1875rem; }

.small-title {
  display: block;
  font-weight: normal;
  font-size: 1.5rem; }

.c-header {
  padding: 1.25rem 0;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.7); }
  .c-header_content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .c-header_logo {
    background-image: url("../../assets/logo/logo_v1.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 60px; }
  .c-header_links {
    display: flex;
    justify-content: center;
    text-transform: uppercase; }
    .c-header_links ul {
      display: flex;
      list-style: none; }
      .c-header_links ul li {
        margin: 0 0.9375rem;
        color: #fff;
        position: relative;
        padding-bottom: 8px; }
        .c-header_links ul li:before, .c-header_links ul li:after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #A30000; }
        .c-header_links ul li:before {
          opacity: 0;
          transform: translateY(-8px);
          transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
        .c-header_links ul li:after {
          opacity: 0;
          transform: translateY(4px);
          transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
        .c-header_links ul li:hover:before, .c-header_links ul li:hover:after, .c-header_links ul li:focus:before, .c-header_links ul li:focus:after {
          opacity: 1;
          transform: translateY(0); }
        .c-header_links ul li:hover:before, .c-header_links ul li:focus:before {
          transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
        .c-header_links ul li:hover:after, .c-header_links ul li:focus:after {
          transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s; }
    @media only screen and (max-width: 659px) {
      .c-header_links {
        position: absolute;
        right: 0;
        height: calc(100vh - 100px);
        top: 6.25rem;
        background: #A30000;
        width: 57%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;
        z-index: 101; }
        .c-header_links ul {
          flex-direction: column;
          align-items: center;
          padding: 0; }
          .c-header_links ul li {
            color: #fff;
            padding: 1.25rem;
            opacity: 0;
            width: 100%; }
        .c-header_links a {
          width: 100%; } }
  .c-header .burger {
    display: none;
    cursor: pointer; }
    .c-header .burger div {
      background-color: #A30000;
      border-radius: 2px;
      width: 25px;
      height: 3px;
      margin: 5px;
      transition: all 0.3s ease; }
    @media only screen and (max-width: 659px) {
      .c-header .burger {
        display: block; } }
  .c-header .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .c-header .toggle .line2 {
    opacity: 0; }
  .c-header .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  .c-header .nav-active {
    transform: translateX(0%); }
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.c-main-banner {
  width: 100%;
  min-height: 25rem;
  position: relative;
  display: flex;
  align-items: center; }
  .c-main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/banner.png");
    background-repeat: no-repeat;
    background-position: top;
    pointer-events: none;
    background-size: cover;
    filter: brightness(35%); }
  .c-main-banner_content {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-top: 1.25rem; }
    .c-main-banner_content h1 {
      font-weight: 400; }
    .c-main-banner_content .brand {
      display: block;
      color: #A30000;
      font-size: 3rem;
      font-weight: 600; }

.c-process {
  background-color: #E7E7E7;
  padding: 1.25rem 0; }
  .c-process-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .c-process-content {
        justify-content: center; } }
    .c-process-content svg {
      min-width: 4.375rem;
      height: 4.375rem; }
    .c-process-content_item {
      padding: 1.25rem 0;
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-basis: 360px; }
      @media only screen and (max-width: 768px) {
        .c-process-content_item {
          flex-direction: column;
          text-align: center; } }
      .c-process-content_item .item-content {
        margin-left: 1.25rem; }
        @media only screen and (max-width: 768px) {
          .c-process-content_item .item-content {
            margin-left: 0; } }
      .c-process-content_item h3 {
        margin: 0.625rem 0; }

.c-about {
  padding: 3.125rem 0; }
  .c-about_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px; }
    .c-about_content .about-text {
      width: 50%;
      flex-grow: 1; }
      .c-about_content .about-text p {
        margin-top: 1.25rem; }
    .c-about_content .about-gallery {
      width: 100%;
      min-height: 12.5rem;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-basis: 400px;
      flex-grow: 1;
      cursor: pointer; }
      .c-about_content .about-gallery::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/about-gallery.png");
        background-repeat: no-repeat;
        background-position: top;
        pointer-events: none;
        background-size: cover;
        filter: brightness(35%);
        border-radius: 0.3125rem; }
      .c-about_content .about-gallery:hover .galleryButton {
        display: block;
        transition: all 0.2s ease; }
      .c-about_content .about-gallery:hover::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        border: 2px solid #fff;
        transition: all 0.2s ease; }
      .c-about_content .about-gallery .galleryButton {
        display: none;
        position: relative;
        margin: 0 1.5625rem 1.5625rem 0; }

.c-packages {
  padding-top: 3.125rem; }
  .c-packages-title {
    text-transform: uppercase;
    margin-bottom: 6.25rem; }
  .c-packages-content {
    background-color: #E7E7E7;
    width: 100%;
    min-height: 10.625rem; }
    .c-packages-content_items {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1.5625rem; }
      .c-packages-content_items .package-item {
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 0.3125rem;
        color: #fff;
        top: -3.125rem;
        background-color: red;
        flex-basis: 250px;
        flex-grow: 1;
        padding: 1.25rem; }
        .c-packages-content_items .package-item:hover {
          top: -4.6875rem;
          transition: all 0.2s ease-in-out; }
          @media only screen and (max-width: 819px) {
            .c-packages-content_items .package-item:hover {
              top: -3.125rem; } }
        .c-packages-content_items .package-item p {
          margin: 0.625rem 0;
          font-size: 0.875rem; }
        .c-packages-content_items .package-item .price {
          font-size: 1.5rem;
          font-weight: bold;
          padding: 1.25rem 0 1.25rem 0.625rem; }
        .c-packages-content_items .package-item button {
          padding: 0.625rem 1.25rem;
          max-width: 12.5rem; }
        .c-packages-content_items .package-item .c-best-seller {
          display: flex;
          justify-content: space-between;
          align-items: center; }
        .c-packages-content_items .package-item .star-container {
          position: absolute;
          z-index: 99999;
          top: 0.625rem;
          right: 0.625rem;
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          background-color: #3C3C3C;
          display: flex;
          justify-content: center;
          align-items: center; }
          .c-packages-content_items .package-item .star-container img {
            width: 1.25rem;
            height: 1.25rem; }
        .c-packages-content_items .package-item.valeting::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("../../assets/packages/valeting.jpg");
          background-repeat: no-repeat;
          background-position: top;
          pointer-events: none;
          background-size: cover;
          filter: brightness(20%);
          border-radius: 0.3125rem;
          z-index: 2; }
        .c-packages-content_items .package-item.maintenance::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("../../assets/packages/maintenance.jpg");
          background-repeat: no-repeat;
          background-position: top;
          pointer-events: none;
          background-size: cover;
          filter: brightness(20%);
          border-radius: 0.3125rem;
          z-index: 2; }
        .c-packages-content_items .package-item.detailing::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("../../assets/packages/detailing.jpg");
          background-repeat: no-repeat;
          background-position: top;
          pointer-events: none;
          background-size: cover;
          filter: brightness(20%);
          border-radius: 0.3125rem;
          z-index: 2; }

.c-gallery {
  margin: 3.125rem auto; }
  .c-gallery-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem; }
    .c-gallery-header .view-all {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .c-gallery-header .view-all a {
        color: #A30000; }
        .c-gallery-header .view-all a:hover {
          text-decoration: underline; }
  .c-gallery-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem; }
    .c-gallery-content .gallery-row {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      @media only screen and (max-width: 650px) {
        .c-gallery-content .gallery-row {
          flex-direction: column;
          gap: 20px; } }
      .c-gallery-content .gallery-row .gallery-item {
        height: 12.5rem;
        background: #A30000;
        position: relative;
        border-radius: 0.3125rem;
        border-bottom: 0.625rem solid #A30000;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1.25rem;
        cursor: pointer; }
        .c-gallery-content .gallery-row .gallery-item h3 {
          color: #fff;
          font-size: 1.5rem;
          font-weight: normal; }
        .c-gallery-content .gallery-row .gallery-item.recent-detailing {
          background-image: url(../../assets/gallery/recent-detailing.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .c-gallery-content .gallery-row .gallery-item.side-view {
          background-image: url(../../assets/gallery/audi-side-view.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .c-gallery-content .gallery-row .gallery-item.side-view_2 {
          background-image: url(../../assets/gallery/audi-side-view_2.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .c-gallery-content .gallery-row .gallery-item.recent-valeting {
          background-image: url(../../assets/gallery/recent-valeting.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        @media only screen and (max-width: 650px) {
          .c-gallery-content .gallery-row .gallery-item {
            width: 100% !important; } }
        .c-gallery-content .gallery-row .gallery-item.small {
          width: 30%; }
        .c-gallery-content .gallery-row .gallery-item.large {
          width: 67%; }

.c-footer {
  width: 100%;
  background-color: #343434;
  color: #fff; }
  .c-footer-content {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap; }
    .c-footer-content_info {
      display: flex;
      flex-wrap: wrap; }
    .c-footer-content_column {
      min-width: 15.625rem;
      padding: 1.25rem 0;
      margin-right: 3.125rem; }
      @media only screen and (max-width: 639px) {
        .c-footer-content_column {
          width: 100%;
          margin-right: 0; } }
      .c-footer-content_column h5 {
        font-size: 1rem; }
    .c-footer-content .footer-row {
      margin-top: 1.5625rem; }
      .c-footer-content .footer-row p {
        margin-top: 0.3125rem; }
      .c-footer-content .footer-row ul {
        list-style: none;
        margin-left: 0;
        padding: 0; }
        .c-footer-content .footer-row ul li {
          margin-bottom: 1.25rem; }
  .c-footer-logo {
    background-image: url(../../assets/logo/logo_grayscale.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 31.25rem;
    width: 100%;
    height: 12.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
    align-items: center; }
  .c-footer-bottom {
    width: 100%;
    background-color: #1E1E1E;
    font-size: 0.75rem; }
    .c-footer-bottom_content {
      padding: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .c-footer-bottom_content .social-links img {
        width: 1.875rem;
        height: 1.875rem;
        margin-left: 0.625rem; }

#ribbon-container {
  position: relative;
  right: -2.1875rem;
  overflow: visible;
  z-index: 9999998;
  font-size: 12px;
  max-width: 140px;
  width: 100%; }
  #ribbon-container a {
    display: block;
    padding: 12px;
    position: relative;
    background: #CE8D26;
    overflow: visible;
    color: #fff;
    text-decoration: none;
    margin-left: -1.25rem; }
    #ribbon-container a::after {
      /* this creates the "folded" part of our ribbon */
      content: "";
      height: 0;
      width: 0;
      display: block;
      position: absolute;
      bottom: -15px;
      right: 0;
      border-top: 15px solid #775013;
      border-right: 15px solid transparent; }

@-webkit-keyframes flow {
  0% {
    left: 0px;
    opacity: 0; }
  50% {
    left: 50px;
    opacity: 0.3; }
  100% {
    left: 90px;
    opacity: 0; } }
@keyframes flow {
  0% {
    left: 0px;
    opacity: 0; }
  50% {
    left: 50px;
    opacity: 0.3; }
  100% {
    left: 90px;
    opacity: 0; } }
.glow {
  background: white;
  width: 40px;
  height: 100%;
  z-index: 999;
  position: absolute;
  -webkit-animation: flow 1.5s linear infinite;
  -moz-animation: flow 1.5s linear infinite;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  border-left: 1px solid #fff; }

.c-car-selection {
  background-color: #E7E7E7; }
  .c-car-selection-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .c-car-selection-content {
        justify-content: center; } }
    .c-car-selection-content svg {
      min-width: 3.125rem;
      height: 3.125rem;
      fill: #A30000; }
    .c-car-selection-content_item {
      padding: 1.875rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      flex-grow: 1;
      flex-basis: 340px;
      cursor: pointer; }
      @media only screen and (max-width: 768px) {
        .c-car-selection-content_item {
          flex-direction: column;
          text-align: center; } }
      .c-car-selection-content_item:hover {
        background: #A30000;
        color: #fff;
        transition: all 0.3s ease; }
        .c-car-selection-content_item:hover svg {
          fill: #fff; }
      .c-car-selection-content_item .item-content {
        margin-left: 1.25rem; }
        @media only screen and (max-width: 768px) {
          .c-car-selection-content_item .item-content {
            margin-left: 0; } }
      .c-car-selection-content_item h3 {
        margin: 0.625rem 0; }

.c-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin: auto; }
  .c-tooltip::after {
    content: "\f059";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #343434; }
  .c-tooltip_content {
    display: none;
    background: #343434;
    margin-top: 195px;
    padding: 10px;
    width: 9.375rem;
    position: absolute;
    z-index: 1000;
    text-align: left;
    font-size: 0.75rem; }
    .c-tooltip_content::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -10px;
      right: 4.0625rem;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #343434; }
    .c-tooltip_content ul {
      margin-left: 0;
      padding-left: 1.25rem; }
  .c-tooltip:hover .c-tooltip_content {
    display: block; }

.c-services {
  margin-top: 6.25rem; }
  .c-services .service-title {
    margin: 0 0.625rem 1.5rem 0.9375rem; }
  .c-services .c-disclaimer {
    margin: 0 0.625rem 1.5rem 0.9375rem; }
  .c-services_content {
    max-width: 87.5rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .c-services_content.detailing {
      justify-content: center; }
  .c-services .c-service {
    flex-grow: 1;
    flex-basis: 210px;
    padding: 1.25rem;
    border: 1px solid #E2E6E7;
    position: relative;
    margin: 0px 15px 30px 15px;
    text-align: center; }
    @media only screen and (max-width: 659px) {
      .c-services .c-service {
        margin: 0 0.625rem 1.875rem 0.625rem; } }
    .c-services .c-service-price {
      color: #A30000;
      text-align: center;
      font-size: 3.125rem;
      margin: 1.25rem 0; }
      .c-services .c-service-price .pound {
        position: relative;
        font-size: 1.5rem;
        font-weight: 400;
        top: -1.75rem;
        left: 10px; }
      .c-services .c-service-price .price {
        font-weight: 300;
        position: relative;
        font-size: 4rem; }
    .c-services .c-service-time {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #E2E6E7;
      border-top: 1px solid #E2E6E7;
      padding: 0.9375rem 0; }
      .c-services .c-service-time img {
        width: 0.9375rem;
        margin-right: 0.625rem; }
    .c-services .c-service ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left; }
      .c-services .c-service ul li {
        position: relative;
        padding-left: 1.875rem;
        display: block;
        margin-bottom: 0.625rem; }
        .c-services .c-service ul li::before {
          content: '';
          line-height: inherit;
          position: absolute;
          left: 0;
          top: -0.375rem;
          width: 20px;
          height: 20px;
          text-align: center;
          background-image: url("../../assets/svg/check-circle-regular.svg");
          background-repeat: no-repeat;
          background-position: left center;
          margin: 0.3125rem 0.625rem 0 0; }
    .c-services .c-service-list {
      margin-top: 1.25rem; }

/*# sourceMappingURL=main.css.map */
