.c-about {
    padding: rem(50 0);
    &_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;

        .about-text {
            width:  50%;
            flex-grow: 1;
        
            p {
                margin-top: rem(20);
            }
        }

        .about-gallery {
            width: 100%;
            min-height: rem(200);
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-basis: 400px;
            flex-grow: 1;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background-image: url("../../assets/about-gallery.png");
                background-repeat: no-repeat;
                background-position: top;
                pointer-events: none;
                background-size: cover;
                filter: brightness(35%);
                border-radius: rem(5);
            }
            
            &:hover {
                .galleryButton {
                    display: block;
                    transition: all 0.2s ease;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    bottom: 10px;
                    left: 10px;
                    border: 2px solid $white;
                    transition: all 0.2s ease;
                }
            }

            .galleryButton {
                display: none;
                position: relative;
                margin: rem(0 25 25 0);
            }
        }
    }
}