.c-car-selection {
    background-color: $background-white;
    padding: rem(20 0);

    &-title {
        margin-bottom: rem(20);
        h1 {
            font-weight: 400;
        }

        .brand {
            display: block;
            color: $brand-red;
            font-size: rem(48);
            font-weight: 600;
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;
        @media only screen and (max-width: 768px) {
            justify-content: center;
        }

        svg {
            min-width: rem(50);
            height: rem(50);
            fill: $brand-red;
        }

        &_item {
            padding: rem(30 0);
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            flex-grow: 1;
            flex-basis: 340px;
            cursor: pointer;

            @media only screen and (max-width: 768px) {
               flex-direction: column;
               text-align: center;
            }

            &:hover {
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                transition: all 0.3s ease;
            }

            &.active {
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                transition: all 0.3s ease;
            }
            
            .item-content {

                @media only screen and (max-width: 768px) {
                    margin-left: 0;
                 }
            }

            h3 {
                margin: rem(10 0);
            }
        }
    }
}