.c-gallery {
    margin: rem(50 auto);

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(20);

        .view-all {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          
            a {
                color: $brand-red;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-gap: rem(40);
       
        .gallery-row {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media only screen and (max-width: 650px) {
                flex-direction: column;
                grid-gap: 20px;
            }
            
            .gallery-item {
                height: rem(200);
                background: $brand-red;
                position: relative; 
                border-radius: rem(5);
                border-bottom: rem(10) solid $brand-red;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: rem(20);
                cursor: pointer;

                h3 {
                    color: $white;
                    font-size: rem(24);
                    font-weight: normal;
                }

                &.recent-detailing {
                    background-image: url(../../assets/gallery/recent-detailing.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.side-view {
                    background-image: url(../../assets/gallery/audi-side-view.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.side-view_2 {
                    background-image: url(../../assets/gallery/audi-side-view_2.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.recent-valeting {
                    background-image: url(../../assets/gallery/recent-valeting.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media only screen and (max-width: 650px) {
                   width: 100% !important;
                }
             
                &.small {
                    width: 30%;
                }

                &.large {
                    width: 67%;
                }
            }
        } 
    }
}