.c-gallery {
    margin: rem(50 auto);

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(20);

        .view-all {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          
            a {
                color: $brand-red;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-gap: rem(40);
       
        .gallery-row {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media only screen and (max-width: 650px) {
                flex-direction: column;
                grid-gap: 20px;
            }
            
            .gallery-item {
                height: rem(200);
                background: $brand-red;
                position: relative; 
                border-radius: rem(5);
                border-bottom: rem(10) solid $brand-red;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: rem(20);
                cursor: pointer;

                h3 {
                    color: $white;
                    font-size: rem(24);
                    font-weight: normal;
                }

                &.recent-detailing {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background-image: url("https://res.cloudinary.com/dehfxejtr/image/upload/v1618923065/IMG_20210403_202353_xicrqg.jpg");
                        background-repeat: no-repeat;
                        background-position: center;
                        pointer-events: none;
                        background-size: cover;
                        filter: brightness(30%);
                        border-radius: rem(5);
                        z-index: 2;
                    }
                }

                &.side-view {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background-image: url("https://res.cloudinary.com/dehfxejtr/image/upload/v1618923065/IMG_20210403_202358_lpetzf.jpg");
                        background-repeat: no-repeat;
                        background-position: center;
                        pointer-events: none;
                        background-size: cover;
                        filter: brightness(30%);
                        border-radius: rem(5);
                        z-index: 2;
                    }
                }

                &.side-view_2 {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background-image: url("https://res.cloudinary.com/dehfxejtr/image/upload/v1618923170/IMG_20210317_223702_862_ya5wm1.jpg");
                        background-repeat: no-repeat;
                        background-position: center;
                        pointer-events: none;
                        background-size: cover;
                        filter: brightness(30%);
                        border-radius: rem(5);
                        z-index: 2;
                    }
                }

                &.recent-valeting {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background-image: url("https://res.cloudinary.com/dehfxejtr/image/upload/v1618918853/172025592_221782266388017_8412765843869299815_n_yoyptc.jpg");
                        background-repeat: no-repeat;
                        background-position: center;
                        pointer-events: none;
                        background-size: cover;
                        filter: brightness(30%);
                        border-radius: rem(5);
                        z-index: 2;
                    }
                }

                @media only screen and (max-width: 650px) {
                   width: 100% !important;
                }
             
                &.small {
                    width: 30%;
                }

                &.large {
                    width: 67%;
                }
            }
        } 
    }
}