.c-header {
    
    padding: rem(20 0);
    width: 100%;
    position: fixed;
    z-index: 9999999;
    background: $headerBackground;

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        display: contents;
    }

    &_logo {
        display: block;
        background-image: url("../../assets/logo/logo_v1.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100%;
        width: 100%;
        height: 60px;

    
    }

    &_links {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        
        ul {
            display: flex;
            list-style: none;
            
            li {
                margin: rem(0 15);
                color: $white;
                position: relative;
                padding-bottom: 8px;

                &.active {
                   color: $brand-red
                }

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 2px;
                        left: 0; right: 0;
                        height: 2px;
                        background-color: $brand-red;
                    }
                    &:before {
                        opacity: 0;
                        transform: translateY(- $distance);
                        transition: transform 0s $easeOutBack, opacity 0s;
                    }
                    &:after {
                        opacity: 0;
                        transform: translateY($distance/2);
                        transition: transform $duration $easeOutBack, opacity $duration;
                    }
                    &:hover,
                    &:focus {
                        &:before,
                        &:after {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        &:before {
                            transition: transform $duration $easeOutBack, opacity $duration;
                        }
                        &:after {
                            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                        }
                    }
            }
        }
                        
        @media only screen and (max-width: 659px) {
            position: absolute;
            right: 0;
            height: calc(100vh - 100px);
            top: rem(100);
            background: $brand-red;
            width: 57%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            flex-direction: column;
            justify-content: space-between;
            padding: rem(20);
            z-index: 101;
            ul {
                flex-direction: column;
                align-items: center;
                padding: 0;

                li {
                    color: $white;
                    padding: rem(20);
                    opacity: 0;
                    width: 100%;
                }
            }
            a {
                width: 100%;
            }
        }
    }

    .burger {
        display: none;
        cursor: pointer;
        div {
            background-color: $brand-red;
            border-radius: 2px;
            width: 25px;
            height: 3px;
            margin: 5px;
            transition: all 0.3s ease;
        }
        @media only screen and (max-width: 659px) {
            display: block;
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }
}
