.c-main-gallery {
    &-content {
        margin: rem(50 0);

        &_options {
            display: flex;
            justify-content: center;
            padding: rem(20);
            gap: rem(20);
            margin-bottom: rem(50);

            .c-gallery-option {
                width: rem(200);
                background: transparent;
                border: none;
                padding: rem(10);
                font-size: inherit;
                font: inherit;
                cursor: pointer;
                outline: none;
                transition: all 0.2s ease-in-out;

                &.active {
                    border-bottom: rem(1) solid $brand-red;
                }

                &:hover {
                    background: $background-white;
                    border-bottom: rem(1) solid $brand-red;
                }
            }
        }
        
        &_images {
            display: flex;
            justify-content: space-between;
            gap: rem(20);
            align-items: center;
            margin: 0 auto;
            flex-wrap: wrap;

            a {
                display: flex;
                flex: auto;
            }

            .gallery-item {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-grow: 1;
                flex-basis: rem(289);
                cursor: pointer;
                max-height: rem(300);
                max-width: 100%;
                object-fit: cover; 
            }
        }
    }
}