.c-services {
    margin-top: rem(30);

    .c-disclaimer {
        margin-bottom: rem(30);
    }
    &-content {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        margin: rem(30 0);
        @media only screen and (max-width: 819px) {
           flex-direction: column;
        }
        &_list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            gap: 1.25rem;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                    flex-grow: 1;
        
            @media only screen and (max-width: 819px) {
                flex-direction: row;
             }
            .service-item {
                border: 1px solid black;
                flex-grow: 1;
                border-radius: rem(5);
                position: relative;
                padding: rem(15);
                justify-content: center;
                align-items: center;
                display: flex;
                text-align: center;
                cursor: pointer;
                min-height: rem(150);
                flex-basis: rem(210);

                &.active {
                    &::before {
                        filter: brightness(60%) !important;
                        z-index: 3;
                    }
                }

                h3 {
                    z-index: 3;
                    color: $white;
                    position: inherit;
                }
            }
        }

        &_info {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            position: relative;
            color: $white;
            z-index: 1;
            padding: rem(25);
            width: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background-image: url("../../assets/packages/maintenance.jpg");
                background-repeat: no-repeat;
                background-position: top;
                pointer-events: none;
                background-size: cover;
                filter: brightness(20%);
                border-radius: rem(5);
                z-index: 2;
            }

            .c-list-content {
                z-index: 3;
            }

            .c-title {
                z-index: 3;
            }

            .c-price {
                z-index: 3;
                h1 {
                    font-size: rem(70);
                    margin-bottom: rem(20);
                }
            }

            .c-info {
                display: flex;
                z-index: 3;
            }

            .c-service-time {
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid $border-color;
                border-top: 1px solid $border-color;
                padding: rem(15 0);
                max-width: rem(300);
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                img {
                    width: rem(15);
                    margin-right: rem(10);
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: left;
                margin: rem(30 0);
                li {
                    position: relative;
                    padding-left: rem(30);
                    display: block;
                    margin-bottom: rem(10);
                    &::before {
                        content: '';
                        line-height: inherit;
                        position: absolute;
                        left: 0;
                        top: rem(-6);
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        background-image: url('../../assets/svg/check-circle-regular.svg');
                        background-repeat: no-repeat;
                        background-position: left center;
                        margin: rem(5 10 0 0);
                    }
                } 
            }
            
        }
    }
}


.interior {
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../../assets/packages/valeting.jpg");
        background-repeat: no-repeat;
        background-position: top;
        pointer-events: none;
        background-size: cover;
        filter: brightness(20%);
        border-radius: rem(5);
        z-index: 2;
    }
}

.exterior {
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../../assets/banner.png");
        background-repeat: no-repeat;
        background-position: top;
        pointer-events: none;
        background-size: cover;
        filter: brightness(20%);
        border-radius: rem(5);
        z-index: 2;
    }
}


.maintenance {
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../../assets/packages/maintenance.jpg");
        background-repeat: no-repeat;
        background-position: top;
        pointer-events: none;
        background-size: cover;
        filter: brightness(20%);
        border-radius: rem(5);
        z-index: 2;
    }
}

.detailing {
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../../assets/packages/detailing.jpg");
        background-repeat: no-repeat;
        background-position: top;
        pointer-events: none;
        background-size: cover;
        filter: brightness(20%);
        border-radius: rem(5);
        z-index: 2;
    }
}