.c-main-banner {
    width: 100%;
    min-height: rem(400);
    position: relative;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../../assets/banner.png");
        background-repeat: no-repeat;
        background-position: top;
        pointer-events: none;
        background-size: cover;
        filter: brightness(35%);
    }

    &_content {
        position: relative;
        display: flex;
        align-items: center;
        color: $white;
        text-transform: uppercase;
        font-size: rem(20);
        padding-top: rem(20);

        h1 {
            font-weight: 400;
        }

        .brand {
            display: block;
            color: $brand-red;
            font-size: rem(48);
            font-weight: 600;
        }
    }
}