@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    color: $bodyText;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p,h1,h2,h3,h4,h5 {
    margin: 0;
    z-index: 999999;
}

h2 {
    text-transform: uppercase;
    font-size: rem(30);
}

h3 {
    font-size: rem(20);
}

a {
    text-decoration: none;
}

.btn {
    background-color: $brand-red;
    border-radius: rem(5);
    padding: rem(10 30);
    cursor: pointer;
    font: inherit;
    color: $white;
    border: none;
    z-index: 98;

    &:hover {
        background: #952626;
        transition: all 0.2s ease;
    }
}

.c-backdrop {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 100;
    display: none;

    @media only screen and (max-width: 659px) {
        display: none;
    }
}

input, textarea {
    border: none;
    outline: none;
    font-size: inherit;
    font: inherit;
}

label {
    color: $placeholder;
    font-size: rem(14);
}

textarea {
    resize: none;
    font: inherit;
}

.error {
    border-color: $errorRed !important;
}

.container {
    max-width: rem(1400);
    width: 100%;
    margin: auto;
    padding: rem(0 20);
}

.divider {
    max-width: rem(100);
    width: 100%;
    height: rem(5);
    background-color: $brand-red;
    margin-top: rem(3);
}

.small-title {
    display: block;
    font-weight: normal;
    font-size: rem(24);
}
