@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    color: $bodyText;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p,h1,h2,h3,h4,h5 {
    margin: 0;
    z-index: 999999;
}

h2 {
    text-transform: uppercase;
    font-size: rem(30);
}

h3 {
    font-size: rem(20);
}

a {
    text-decoration: none;
}

.btn {
    background-color: $brand-red;
    border-radius: rem(5);
    padding: rem(10 30);
    cursor: pointer;
    font: inherit;
    color: $white;
    border: none;
    z-index: 98;

    &:hover {
        background: #952626;
        transition: all 0.2s ease;
    }

    &:disabled {
        background-color: $input-border;
        cursor: not-allowed;
    }
}

.c-backdrop {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.70);
    z-index: 100;
    display: none;

    @media only screen and (max-width: 659px) {
        display: none;
    }
}
.backdrop-active {
    display: block;
}
input, textarea {
    border: none;
    outline: none;
    font-size: inherit;
    font: inherit;
}

label {
    color: $placeholder;
    font-size: rem(14);
}

textarea {
    resize: none;
    font: inherit;
}

.error {
    border-color: $errorRed !important;
}

.container {
    max-width: rem(1400);
    width: 100%;
    margin: auto;
    padding: rem(0 20);
}

.divider {
    max-width: rem(100);
    width: 100%;
    height: rem(5);
    background-color: $brand-red;
    margin-top: rem(3);
}

.small-title {
    display: block;
    font-weight: normal;
    font-size: rem(24);
}

  
  /*style the items (options), including the selected item:*/
  #package-selection {
    color: $bodyText;
    padding: 16px 16px;
    border: 1px solid transparent;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    max-width: rem(500);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-image: none;
    margin-top: rem(20);
    background-image:
    linear-gradient(45deg, transparent 50%, $brand-red 50%),
    linear-gradient(135deg, $brand-red 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 8px),
    calc(100% - 15px) calc(1em + 8px);
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image:
      linear-gradient(45deg, $brand-red 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, $brand-red 50%);
      
    background-position:
      calc(100% - 15px) 20px,
      calc(100% - 20px) 20px;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }
  }

  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    overflow: hidden;
    border-radius: .25em;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: $brand-red;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover {
    color: #f39c12;
    background-color: red;
  }
  