@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
    color: $bodyText;
    scroll-behavior: smooth;
}

p,h1,h2,h3,h4,h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

.c-backdrop {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 100;
    display: none;

    @media only screen and (max-width: 659px) {
        display: none;
    }

}
