//core, functions and variables
@import './variables.scss',
        './functions.scss',
        './core.scss';

//components
@import './components/header.scss',
        './components/welcome-banner.scss',
        './components/process.scss',
        './components/about.scss',
        './components/packages.scss',
        './components/gallery.scss',
        './components/footer.scss',
        './components/ribbon.scss',
        './components/car-selection.scss',
        './components/tooltip.scss',
        './components/services.scss',
        './components/main-gallery.scss',
        './components/magnific.scss';
