//core, functions and variables
@import './variables.scss',
        './functions.scss',
        './core.scss';

//components
@import './components/header.scss',
        './components/welcome-banner.scss',
        './components/process.scss',
        './components/about.scss',
        './components/packages.scss';
