// colours
$white: #fff !default;
$black: #1E1E1E !default;
$bodyText:#343434 !default;
$background-white: #E7E7E7 !default;
$brand-red: #A30000 !default;
$input-border: #cbcbd2 !default;
$error: #FFBABA !default;
$errorRed: #cc0000 !default;
$green: #40C237 !default;
$dark-gray: #1E1E1E !default;
$border-color: #E2E6E7 !default;
$placeholder: #A8B1B6 !default; 
$DarkGreen: #0D8547 !default;
$success-green: #dbf0d9 !default;
$green-darker: darken($green, 7%);

$headerBackground: rgba(0, 0, 0, 0.7) !default;

//li hover
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Font Sizes
$root-font-size: 16 !default; // used for REM base
$base-font-size: 1rem !default;

